.jumbotron {
  background-color: #FFFF99;
  border: 3px solid #FFFF33;
  h2 {
    color: #c41200;
    font-weight: bold;
  }
}
.navbar .container-fluid{ 
    background-color: #b80b03;
    .navbar-nav .nav-item a {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      }
      .navbar-brand{
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-family: fantasy;
     }
    }
  .container-fluid{
    padding: 10px, 120px;
  }
  